<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hola {{name}},</p>
    <p>Has solicitado restablecer tu contraseña perteneciente a la plataforma de
      <strong>Studio-By-M.</strong></p>
    <p>Por favor, haz clic en el enlace de abajo para restablecer tu contraseña:</p>
    <a href="{{link}}">Restablecer contraseña</a>
    <p>Este link vence en una hora.</p>
  </body>
</html>