<html>
  <head>
    <style>
      @font-face {
        font-family: 'MysteryMixed';
        src: url(data:font/opentype;base64,{mysteryFont}) format('opentype');
        }
      body { 
        display: flex; 
        justify-content: center; 
        align-items: center;
        height: 70rem;
        width: 50rem; 
        margin: 0;
        padding: 0;
        color: black;
        } 
      .container { 
        text-align: center;
        margin: 0 auto;
        padding: 8rem 0;
        }
    </style>
  </head>
  <body>
    <div style="">
      <div class="container" style="width:60%; height: 60%; background-color:white;">
        <h2 style="font-size: 4rem; color: black; margin: 0px;">Studio by M</h2>
        <h3 style="color: black; margin: 0px; margin-top: 1rem; font-family: 'MysteryMixed';">Hola {{name}}</h3>
        <p style="color: black;">Vamos a recuperar tu contraseña</p>
        <p style="margin: 1.5rem 0; color: black;">Para reestablecer tu contraseña haz click en el botón de abajo</p>
        <a href={{link}} style="background-color: #1E1E1E; border: none; border-radius: 7px;"><button style="background-color: #1E1E1E; border-radius: 7px; color: white; padding: 7px;">Reestablecer contraseña</button></a>
        <h5 style="color: black;">¿Necesitas ayuda? Envíanos un email a mbernal@studiobym.com</h5>
      </div>
    </div>
  </body>
</html>
{{!--      
      @font-face {
        font-family: 'MysteryMixed';
        src: url(data:font/opentype;base64,{{mysteryFontBase64}}) format('opentype');
        }

      @font-face {
        font-family: 'MsPGothic';
        src: url(data:font/opentype;base64,{{msgothicFontBase64}}) format('opentype');
        } 
--}}